.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 110px;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
}

.join-button {
  background-color: white;
  color: rgb(27, 137, 240);
  border-color: rgb(27, 137, 240);
  border-style: solid;
  border-width: 1px;
  height: 36px;
  width: 62px;
  font-size: 14px;
  cursor: pointer;
}

.tweet-button {
  background-color: rgb(52, 132, 223);
  border: none;
  color: white;
  height: 36px;
  width: 70px;
  margin-left: 8px;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}