.tahoma {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.biggest-deal {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.sale-end {
  font-family: Arial;
  margin-top: 10px;
  color: rgb(221, 0, 0);
  font-style: italic;
}

.html-css {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
}

.beginner-pro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  color: gray;
  font-size: 15px;
}

.course-description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 15px;
  width: 250px;
  line-height: 25px;
}

.get-started {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 50px;
  background-color: green;
  color: white;
  padding: 8px 10px 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.get-started:hover {
  opacity: 0.9;
}

.shopping-business {
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.apple-work {
  font-family: Arial;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.learn-more {
  font-family: Arial;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  color: blue;
  cursor: pointer;
}

.new {
  font-family: Arial;
  text-align: center;
  color: red;
  margin: 0;
  margin-bottom: 6px;
  font-size: 12px;
}

.macbook-pro {
  font-family: Arial;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

.supercharged {
  font-family: Arial;
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-family: Arial;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.buy-now {
  font-family: Arial;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.buy-now-button {
  background-color: rgb(0, 102, 255);
  color: white;
  font-family: Arial;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.sensex1 {
  font-family: Arial;
  text-align: left;
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
}

.sensex1a {
  font-size: 15px;
  color: rgb(100, 100, 100);
}

.sensex2 {
  font-family: Arial;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: green;
}

.sensex3 {
  font-family: Arial;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.sensex3a {
  color: red;
}

.freecodecamp1 {
  font-family: Arial;
  font-weight: bold;
}

.freecodecamp1a {
  color: rgb(75, 75, 75);
  font-weight: 400;
}

.freecodecamp2 {
  font-family: Arial;
  width: 500px;
  margin: 0;
  margin-bottom: 20px;
}

.freecodecamp3 {
  font-family: Arial;
  margin: 0;
  margin-bottom: 100px;
}

.freecodecamp3a {
  color: blue;
}